body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  overflow: hidden;
}

a{
  text-decoration: none;
  color: #fff;
}

.header-container{
  display: flex;
  width: 100%;
  padding: 10px 40px;
}

.header-container .menu{
  display: flex;
  justify-content: center;
  flex: 1;
}

.hamburger {
  background: none;
  border: none;
  padding: 0;
}

.hamburger svg {
  width: 30px;
  height: 30px;
}

.hamburger path {
  fill: white;
}

@media only screen and (max-width: 768px) {
  .header-container .menu, .wallet-btn {
   display: none;
  }
 
  .header-container {
   justify-content: space-between;
   height: 78px;

  }
 
  .menu-overlay {
   position: absolute;
   top: 78px;
   left: 0;
   width: 100%;
   height: calc(100vh - 77px);
   background-color: #131330;
   border-top: 1px solid black;
   overflow-y: hidden;
  }
 
  .menu-overlay .menu-links {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   text-align: center;
   align-items: center;
   padding: 10px 0;
  }

  .menu-links a {
    margin: 10px;
  }

  .hero-img {
    max-width: 100%;
  }
 }
 
 @media only screen and (min-width: 768px) {
   .hamburger {
     display: none;
   }
 }

.menu .menu-links a{
  margin: 12px;
}

button{
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

button.primary{
  color: white;
  background: linear-gradient(#30bddc 0%, #5189e1 100%);
  word-wrap: normal;
}

button.secondary {
  background: white;
  font-weight: 800;
}

button.secondary span {
  background-image: linear-gradient(60deg, #30bddc, #5189e1);
  color: transparent;
  background-clip: text;
}
